@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', 'sans-serif';
    --fonte-secundaria: 'Montserrat', sans-serif;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

    .cabecalho {
        padding: 1% 0 0 10%
    }

        .cabecalho__menu {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 80px;
        }

            .cabecalho__menu__item {
                font-family: var(--fonte-secundaria);
                font-size: 24px;
                font-weight: bold;
                color: var(--cor-terciaria);
                text-decoration: none;
                padding: 10px 15px;
                text-decoration: none;
            }

            .cabecalho__menu__item:hover {
                color: var(--cor-secundaria);
                background-color: var(--cor-hover);
                border-radius: 8px;
            }

    .apresentacao{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        padding: 2% 10%;
    }

        .apresentacao__conteudo {
            width: 615px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

            .apresentacao__conteudo__titulo {
                font-size: 36px;
                font-family: var(--fonte-primaria);
            }

                .apresentacao__conteudo__titulo__destaque{
                    color: var(--cor-terciaria);
                }

            .apresentacao__conteudo__texto {
                font-size: 24px;
                font-family: var(--fonte-secundaria);
            }

            .apresentacao__conteudo__links {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 32px;
            }

                .apresentacao__conteudo__links__subtitulo{
                    font-family: var(--fonte-primaria);
                    font-size: 24px;
                    font-weight: 400;
                }

                .apresentacao__conteudo__links__link{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    gap: 16px;
                    border: 2px;
                    border-style: solid;
                    border-color: var(--cor-terciaria);
                    width: 378px;
                    border-radius: 8px;
                    font-size: 24px;
                    font-weight: 600;
                    padding: 20px 0;
                    text-decoration: none;
                    color: var(--cor-secundaria);
                    font-family: 'Montserrat', sans-serif;
                }

                .apresentacao__conteudo__links__link:hover {
                    background-color: var(--cor-hover);
                }

        .apresentacao__imagem {
            display: flex;
            justify-content:end;
            border-radius: 2000px;
            border-color: var(--cor-terciaria);
            border-style:solid;
            border-width: 7px;
        }

    .rodape {
        color: var(--cor-primaria);
        background-color: var(--cor-terciaria);
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 400;
        padding: 8px;
    }