@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #000000;
    --secondary-color: #F6F6F6;
    --tertiary-color: #22D4FD;
    --hover-color: #272727;
    --primary-font: 'Krona One', 'sans-serif';
    --secondary-font: 'Montserrat', sans-serif;
    --size-multiplier: 0.8;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

    .header {
        padding: 1% 0% 0% 10%
    }

        .header__menu {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: calc(var(--size-multiplier) * 5rem);
        }

            .header__menu__item {
                font-family: var(--secondary-font);
                font-size: calc(var(--size-multiplier) * 1.5rem);
                font-weight: bold;
                color: var(--tertiary-color);
                text-decoration: none;
                padding: calc(var(--size-multiplier) * 0.625rem) calc(var(--size-multiplier) * 1rem);
                text-decoration: none;
            }

            .header__menu__item:hover {
                color: var(--secondary-color);
                background-color: var(--hover-color);
                border-radius: 0.5rem;
            }

    .presentation{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-between;
        padding: 2% 10%;
    }

        .presentation__content {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: calc(var(--size-multiplier) * 1.25rem);
        }

            .presentation__content__title {
                font-size: calc(var(--size-multiplier) * 2.25rem);
                font-family: var(--primary-font);
            }

                .presentation__content__title__highlight{
                    color: var(--tertiary-color);
                }

            .presentation__content__text {
                font-size: calc(var(--size-multiplier) * 1.5rem);
                font-family: var(--secondary-font);
            }

                .presentation__content__text__paragraph {
                    margin-top: 3%;
                }

            .presentation__content__links {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: calc(var(--size-multiplier) * 2rem);
            }

                .presentation__content__links__subtitle{
                    font-family: var(--primary-font);
                    font-size: calc(var(--size-multiplier) * 1.5rem);
                    font-weight: 400;
                }

                .presentation__content__links__link{
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    gap: calc(var(--size-multiplier) * 1rem);
                    border: calc(var(--size-multiplier) * 0.125rem);
                    border-style: solid;
                    border-color: var(--tertiary-color);
                    width: calc(var(--size-multiplier) * 60%);
                    border-radius: 0.5rem;
                    font-size: calc(var(--size-multiplier) * 1.5rem);
                    font-weight: 600;
                    padding: calc(var(--size-multiplier) * 1.25rem) 0;
                    text-decoration: none;
                    color: var(--secondary-color);
                    font-family: var(--secondary-font);
                }

                .presentation__content__links__link img {
                    width: calc(var(--size-multiplier) * 10%);
                    height: calc(var(--size-multiplier) * 10%);
                }

                .presentation__content__links__link:hover {
                    background-color: var(--hover-color);
                }

        .presentation__image {
            display: flex;
            justify-content:end;
            border-radius: 125rem;
            border-color: var(--tertiary-color);
            border-style: solid;
            border-width: calc(var(--size-multiplier) * 0.5rem);
            width: calc(var(--size-multiplier) * 30%);
            height: calc(var(--size-multiplier) * 30%);
        }

    .footer {
        color: var(--primary-color);
        background-color: var(--tertiary-color);
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: calc(var(--size-multiplier) * 1.5rem);
        font-weight: 400;
        padding: calc(var(--size-multiplier) * 0.5rem);
        margin-top: auto;
    }

/*Mobile layout*/

@media (max-width: 75rem) {

    .header {
        padding: 1% 0% 4% 0%; 
    }

    .header__menu {
        justify-content: center;
        padding: 0% 0%;
    }
    
    .presentation {
        flex-direction: column-reverse;
        gap: calc(var(--size-multiplier) * 3.125rem);
        padding: 1% 0% 4% 0%;
    }

    .presentation__content {
        width: 90%;
    }

}
